body{
  margin:0px;
  color: #D5DED9;
  font-family: sans-serif;
}

ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 80px;
}

h2{
  color:#D95B43;
}

li{
  padding:20px;
  border: solid white 1px;
  margin: 20px;
  text-align: left;
}

button{
  background-color: #D95B43;
  color:white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: 2px white solid;
}

button:hover{
  background-color: #D5DED9;
  color: #D95B43;

}

#form-newboard{
  border-bottom: 1px white solid;
  padding: 40px;
}

.new-to-do-window{
  background-color: gray;
  position: fixed;
  bottom: 10%;
  right :0;
  padding: 10px;
  z-index: 1;
  box-shadow: 1px 2px 15px gray;
}
.hide-window {
  float: left;
  display: block;
  margin-top: 50px;
  width: 0;
  height: 0;
  border: 70px solid green;
  border-top-color:   transparent;
  border-left-color:  transparent ;
  border-right-color:  white ;
  border-bottom-color: transparent;
  border-left-width: 0px;
  border-right-width: 30px;
}
.hide-window:hover{
  border-right-color:  #D95B43 ;

}

#new-to-do{
  text-align: right;
  font-size: .8em;
  float: right;
}

.lists{
  color: white;
  text-align: center;
}

.start{
  text-align: center;
  vertical-align: top;
  background-color: #D5DED9;

}
.hide{
  display: none;
}

.existing-boards{
  color: #D95B43;
}

.existing-boards li{
  color: #D95B43;
  display:inline-block;
}

.holder{
  display: inline-block;
  width: 33%;
  background-color: #D5DED9;
  vertical-align: top;
  box-sizing: border-box;
  min-height: 650px;
}


.short-term{
  background-color: #99B2B7;
}
.long-term{
  background-color: #7A6A53;
}

.closewindow{
  right :-380px;

}

#discription{
  height:50px;
  vertical-align: top;
}

#new-to-do label{
  display: block;
  margin: 20px;
}
